
@{
    ViewData["Title"] = "WaitingPage";
}

<h1>Aspettando secondo player</h1>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "get",
            dataType: "text",
            url: "https://localhost:5001/home/ChessBoard",
            data: {
                "serverOperation": "CreateRoomOperation",
            },
            success: function (data) {
                if (data != "vai avanti") {
                    window.location.href = '@Url.Action("WaitingPage", "Home")';
                }
                else {
                    window.location.href = '@Url.Action("ChessBoard", "Home")';
                }

            },
            error: function () {
                window.location.href = '@Url.Action("ChessBoard", "Home")';
            }
        });



    });

</script>
